* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fefaee;
}

main {
  padding-bottom: 2em;
}

.container {
  min-width: 900px;
}

header {
  display: flex;
  width: 100%;
  background-color: #7ab2b2;
  justify-content: start;
  padding: 1x 0px 1px;
  /* position: fixed;
  z-index: 1; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

header h1 {
  margin: 0;
  font-weight: 550;
}

note-header {
  margin-left: 3%;
  font-weight: 550;
  font-size: 0.7em;
}

main {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  justify-content: center;
}

.note {
  max-width: 100%;
}

form {
  margin-top: 20px;
}

button:hover {
  background-color: #2e476b;
}

/* :host {
  display: block;
} */

.filter-wrapper {
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 1%;
  flex-direction: column;
  margin-top: -25px;
}

.filter {
  /* margin-bottom: 40px;
  color: #232e3f;
  width: 70%;
  border: groove; */
  text-align: center;
  padding: 32px;
  background-color: #ffffff00;
  opacity: 0.8;
  border: none;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  /* padding-left: 2em;
  padding-right: 1em; 
  padding-bottom: 3em;*/
  width: 75%;
}

.filter > h2 {
  /* font-family: "Ubuntu", sans-serif; */
  font-weight: 600;
  font-size: 32px;
  margin-top: -5px;
  margin-bottom: 25px;
  color: #000000;
}

#filterNotes {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  color: #232e3f;
  width: 100%;
  padding: 12px 8px;
  margin-top: 20px;
  background-color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: groove;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#filterNotes > option {
  color: #232e3f;
  background-color: white;
}

#filterNotes:hover,
#filterNotes:focus-visible {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.focused {
  border: 1px double #232e3f;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2em;
  padding: 2em;
  width: 1028px;
  margin-bottom: 3%;
}

.note-item {
  background-color: #ffffff00;
  opacity: 0.8;
  border: none;
  border-radius: 0;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height: 100%;
  padding: 1em;
}

p {
  font-size: 0.7em;
  margin-top: 5px;
}

.note-title {
  color: #232e3f;
  font-size: 1em;
}

.note-body {
  color: #000000;
  font-weight: 400;
  margin: 0 0 10px;
  border: none;
  padding-top: 1em;
  /* font-size: 0.90em; */
}

.note-item:hover,
.note-item:focus-visible {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.action > .button-archived {
  transition: 0.2s;
  transform: translateY(5px);
  font-size: 13px;
  padding: 7px 12px;
  color: #ffffff;
  margin-left: auto;
  background-color: #232e3f;
  border: none;
}

.action > .button-unarchived {
  transition: 0.2s;
  transform: translateY(5px);
  font-size: 13px;
  padding: 7px 12px;
  color: #ffffff;
  margin-left: auto;
  background-color: #232e3f;
  border: none;
}

.action > .button-recovery-note {
  transition: 0.2s;
  transform: translateY(5px);
  font-size: 13px;
  padding: 7px 12px;
  color: #ffffff;
  margin-left: auto;
  background-color: #232e3f;
  border: none;
}

.action > .button-delete {
  transition: 0.2s;
  transform: translateY(5px);
  font-size: 13px;
  padding: 7px 12px;
  color: #ffffff;
  margin-left: 14px;
  background-color: #232e3f;
  border: none;
}

.action > .button-archived:hover {
  background-color: #2f3d53;
}

.action > .button-unarchived:hover {
  background-color: #2f3d53;
}

.action > .button-delete:hover {
  background-color: #2f3d53;
}

.action > .button-recovery-note:hover {
  background-color: #2f3d53;
}

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  display: none;
  z-index: 9999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #232e3f;
  animation: spin 1s linear infinite;
}

:host {
  display: block;
}

footer {
  bottom: 0;
  padding: 8px;
  width: 100%;
  color: rgb(100 116 139);
  background-color: #000000;
  text-align: end;
}

footer p {
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 3%;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 576px) {
  footer {
    font-size: 0.6em;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 576px) {
  main {
    grid-template-columns: 1fr;
  }
}
